@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,600;0,700;1,600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    scrollbar-width: thin;
    overflow-y: scroll;
}
body::-webkit-scrollbar{
    width: 0;
}

.Logo h1{
    margin-left: 5em;
    color: rgb(43, 43, 227);
}

nav{
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    align-items: center;
    border-bottom: 2px solid rgb(176, 166, 166);
}
.nav-items li{
    display: inline-block;
    margin-right: 3em;
    font-weight: 600;
    font-size: 17px
}
.nav-items{
    margin-right: 8em;
}
.nav-items li:nth-child(6){
    color:white;
    background-color: rgb(61, 61, 252);
    border-radius: 7px;
    padding: 5px 40px;
}
.main-section{
    display: inline-flex;
    min-height: 600px;
    min-width: 100%;
    text-align: center;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(images/img.jpg);
    background-size: cover;
    background-position: center;
    color: white;

}
.sub-section-1,.sub-section-2{
    margin-bottom: 50px;
}
.sub-section-1 h1{
    margin-bottom: 20px;
}
.sub-section-2 input{
    border:none;
    padding: 10px; 
    color: black; 
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;

}
.sub-section-2 .btn{
    border: none;
    outline: none;
    color: white;
    background-color: rgb(79, 79, 242);
    padding: 10px;
    transition: background-color 0,9s ease;

}
.sub-section-2 input:focus{
    outline: none;
    color: black
}
.sub-section-2 .btn:hover{
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.sub-section-2 input::placeholder{
    color:blue;
}
.sub-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 50px;
    padding: 100px;
}

.box{
    height: 350px;
    width: 300px;
    border: 3px solid skyblue;
    border-radius: 20px;
    box-shadow: 2px 2px 20px skyblue;
    display: flex;
    flex-direction: column;   
    text-align: center;
    overflow: hidden;
    transition: 150ms;
    position: relative; 
}
.box .course-img{
    height: 70%;
    width: 100%;
}
img{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.box:hover{
    box-shadow: 2px 2px 40px skyblue;
    border-color: black;
    color: skyblue;
}
.badge{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    border-radius: 20px;
    pointer-events: none;
    color: black;
    font-size:small;
    outline: 2px solid skyblue;
    border: 2px solid skyblue;
    padding: 2px 10px;
}